.country-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.country-footer button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}

.country-footer button.delete {
  color: white;
  background-color: red;
  border: 1px solid red;
}

.country-footer button.delete:hover {
  opacity: 0.8;
}

.country-footer button.undo {
  color: white;
  background-color: green;
  border: 1px solid green;
}

.country-footer button.undo:hover {
  opacity: 0.8;
}
