
header {
    background-color: #1E3A8A; 
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:auto;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #E5E7EB; 
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #60A5FA;
  }
  
  
  h1 {
    color: #F43F5E;
    font-size: 2rem;
    font-weight: bold;
  }
  